@charset "UTF-8";

*{margin: 0; padding: 0;}

section{
    margin: 0 auto;
}
/* 클래스명 : 개발자모드 -> 이미지 클릭해서 복사 */
.slick-slide{position: relative;}
.slick-slide img{
    margin: 0 auto;
    width: 100%;
}
.slick-slide h3{
    position: absolute;
    left: 50%; top: 40%;
    transform: translate(-150%, -50%);
    transition: 2s cubic-bezier(0.23, 0.76, 0.8, 0.18);
    background: #fff;
    font-size: 25px;
    opacity: 0;
    /* font-weight: bold; */ /* h태그는 기본적으로 bold값을 가지고 있음 */
}
.slick-slide.slick-active h3{
    transform: translate(-50%, -50%);
    opacity: 1;
}
.slick-slide h4{
    position: absolute;
    left: 50%; top: 60%;
    transform: translate(-150%, -50%);
    /* transition: duration delay; */
    transition: 2s 0.5s; 
    /* transition-delay: 0.5s; */
    transition: transform 1s 0.5s, opacity 2s 1s;
    transition-timing-function: cubic-bezier(0, 1.14, 1, -0.32);/* 개발자모드-->그래프 조절해서 값 수정 */
    background: #fff;
    opacity: 0;
}
.slick-slide.slick-active h4{
    transform: translate(-50%, -50%);
    opacity: 1;
}
.slick .slick-prev{
    position: absolute;
    left: 50px; top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.slick .slick-next{
    position: absolute;
    right: 50px; top: 50%;
    transform: translateY(50%);
    z-index: 100;
}